- name: Install python-apt
  apt:
    name: python-apt
    state: present

- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: present

- name: Configure periodic unattended-upgrades
  copy:
    src: files/02periodic
    dest: /etc/apt/apt.conf.d/02periodic
    owner: root
    group: root
    mode: 0644
