[Desktop Entry]
Name=Binary Ninja
GenericName=Binary Ninja
Comment=Reverse Engineering tool
Exec=/home/{{ lookup('env','USER') }}/bin/binaryninja/binaryninja
Type=Application
Keywords=binja
Icon=binaryninja
Categories=Reveng;
StartupNotify=false
