[user]
  email = {{ git['email'] }}
  name = {{ git['name'] }}
[push]
  default = simple
  followTags = true
[diff]
  algorithm = patience
[alias]
  prune = fetch --prune
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
[merge]
  conflictstyle = diff3
  tool = nvim
[status]
  showUntrackedFiles = all
[transfer]
  fsckobjects = true
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[color "diff-highlight"]
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
  oldNormal = red bold
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[http "https://gopkg.in"]
  followRedirects = true
[color "diff"]
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
  meta = yellow
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[mergetool]
  prompt = false
[init]
  templatedir = /home/{{ username }}/git/dotfiles/git-hooks
