#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Ghidra
Exec=/opt/ghidra/current/ghidraRun
Icon=/opt/ghidra/current/support/ghidra.ico
Categories=Application;
Terminal=false
